.container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .activity {
    background: #ffffff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .top,
    .bottom {
      font-size: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
    }

    .top {
      border-bottom: 2px solid #000000;
      width: 100%;
      color: #1890ff;
    }
  }

  .table {
    width: 100%;

    .tableHeading {
      text-align: center;
    }
  }
}