.mainContent {
  padding: 0 10px;
  min-height: 100vh;

  .heading {
    // text-align: center;
    font-size: 1.05rem;
    padding: 10px;
    background: #1890ff;
    font-weight: bolder;
    margin: 0 -10px;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  .menuBtn {
    color: inherit;
    display: block;
    border-radius: 50%;
  }
}

.drawer {
  .ant-drawer-body {
    padding: 0;
  }
}