.sideBar {
  padding: 0 5px;
  min-height: 100%;

  .heading {
    background-color: #1890ff;
    margin: 0 -5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    font-size: 1.05rem;
    border-right: 1px solid #ffffff;

    .btn {
      color: inherit;
      border-radius: 50%;
    }
  }

  .head {
    margin: 10px 0;
    margin-bottom: 20px;
  }

  .row2Text {
    text-align: center;
    padding: 10px;
  }
}

.listItem {
  display: flex;
  padding: 10px 7px;
  align-items: center;
  margin: 10px 0;
  overflow: hidden;


  &:hover {
    background-color: #e9e9e9;
    cursor: pointer;
  }

  .img {
    padding: 5px;
    background-color: #1890ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
}