.studentPromotion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;

  .btn {
    display: flex;
    align-items: baseline;

    .name1 {
      margin-right: 38px;
    }

    .name2 {
      margin-right: 25px;
    }
  }
}