.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .box {
    max-width: 300px;

    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .icon {
    font-size: 2.5rem;
    background-color: #1890ff;
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
  }

  .btn {
    width: 100%;
  }
}