.bg {
  background-color: #2a2a2e;

  justify-content: center;
  display: flex;
  min-height: 100vh;

  .container {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
  }
}

.smVisible {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .smVisible {
    display: inline;
    visibility: visible;
  }

  .smHide {
    display: none;
    visibility: hidden;
  }
}